	<!-- file: dash -->

	<!-- PAGE-CONTENT -->
	
	<script type='text/template' id='tpl-page-dash'>

		<div class='content'>
			
			<div class="content-panel">
			</div>

		</div>

	</script>

	<!-- DASHBOARD -->

	<script type="text/template" id="tpl-dash-profile">

  		<h1>Hi, <%- first_name %>!</h1>
  		<span>You have logged in <%- num_logins %> times.</span>
  		<span>Your last login was at: <%- last_login %></span>
  		<p>This is your dashboard. Some day soon it will have cool stuff in it.</p>

  	</script>