	<!-- file: help-studying -->

	<!-- STUDYING-PANEL -->

	<script type='text/template' id='tpl-widget-help-studying-panel'>

		<h1>Overview</h1>

		<p>
			The <code>studying</code> section (accessible from the navigation menu at the top of the page) is organized in a sort of hierarchy, allowing you to browse (and create) a variety of content. From here, you can create/join studygroups, view other students' flashcards and tests, and create your own flashcards and tests.
		</p>

		<h2>Browsing Hierarchy?</h2>

		<p>
			Indeed. The hierarchy is laid out like so: <code>Class -> Group -> Student -> Content Type -> Flashcards [or] Tests</code>. Each level of the hieararchy is briefly described here. For detailed information, see the other help sections.
		</p>

		<h3>Class</h3>

		<p>
			All of the classes that you have added will show up here. Using the <code>display</code> button in the top toolbar you can choose to hide/show the classes that you've completed.
		</p>

		<h3>Group</h3>

		<p>
			Here you can choose to browse your own content or to see the content that other students have shared, within the studygroups that you belong to for that class. You can also create your own private studygroup.
		</p>

		<h3>Student</h3>

		<p>
			When browsing either <code>Public Studygroup</code> or a <code>Private Studygroup</code>, this displays all of the students that are sharing <em>one or more</em> flashcards. For example, although there may be 8 students in the <code>Public Studygroup</code>, if only 4 of them are sharing any flashcards, then only those 4 students will be listed here.
		</p>

		<p>
			At this stage in the hierarchy, you can now apply a <code>filter</code>, using the button in the top toolbar. This limits the flashcards that are displayed, and once you apply a filter the number of cards that match that filter will be displayed below each student's name. Existing tests are not affected by filters (see the <a href="<%= ROOT %>#help/flashcards/" class="navigate">flashcards</a> and <a href="<%= ROOT %>#help/tests/" class="navigate">tests</a> sections for more info).
		</p>

		<h3>Content Type</h3>

		<p>
			Here you are presented with two types of content: Flashcards and Tests.
		</p>

		<h3>Flashcards</h3>

		<p>
			This displays all of the the sets owned by a particular student, for that class and group. A set is simply a container, to help you to organize your flashcards (i.e., like a directory does for files). Each flashcard that you create must belong to a particular set (e.g., "Lecture 1"). Clicking on a given set will allow you to browse the flashcards that reside within that set. From here you can create sets, flashcards, <em>and</em> tests.</li>
		</p>

		<h3>Tests</h3>

		<p>
			This displays the tests owned by that student, for that class and group. From here you can take a test that was saved previously or, if they are your tests, you can edit them as well.
		</p>

	</script>