	<!-- file: studying.breadcrumbs -->

	<!-- BROWSE GROUPS -->

	<script type="text/template" id="tpl-widget-studying-browse-groups-breadcrumb">
		<% for ( var x=0; x < crumbs.length; x++ ) { %>
			<li><a href="<%- crumbs[x].crumbHref %>" class="crumb navigate"><%- crumbs[x].crumbDisplay %></a></li>
		<% } %>
	</script>

	<!-- BROWSE USERS -->

	<script type="text/template" id="tpl-widget-studying-browse-users-breadcrumb">
		<% for ( var x=0; x < crumbs.length; x++ ) { %>
			<li><a href="<%- crumbs[x].crumbHref %>" class="crumb navigate"><%- crumbs[x].crumbDisplay %></a></li>
		<% } %>
	</script>

	<!-- BROWSE TYPES -->

	<script type="text/template" id="tpl-widget-studying-browse-types-breadcrumb">
		<% for ( var x=0; x < crumbs.length; x++ ) { %>
			<li><a href="<%- crumbs[x].crumbHref %>" class="crumb navigate"><%- crumbs[x].crumbDisplay %></a></li>
		<% } %>
	</script>

	<!-- BROWSE SETS -->

	<script type="text/template" id="tpl-widget-studying-browse-sets-breadcrumb">
		<% for ( var x=0; x < crumbs.length; x++ ) { %>
			<li><a href="<%- crumbs[x].crumbHref %>" class="crumb navigate"><%- crumbs[x].crumbDisplay %></a></li>
		<% } %>
	</script>

	<!-- BROWSE CARDS -->

	<script type="text/template" id="tpl-widget-studying-browse-cards-breadcrumb">
		<% for ( var x=0; x < crumbs.length; x++ ) { %>
			<li><a href="<%- crumbs[x].crumbHref %>" class="crumb navigate"><%- crumbs[x].crumbDisplay %></a></li>
		<% } %>
	</script>

	<!-- BROWSE TESTS -->

	<script type="text/template" id="tpl-widget-studying-browse-tests-breadcrumb">
		<% for ( var x=0; x < crumbs.length; x++ ) { %>
			<li><a href="<%- crumbs[x].crumbHref %>" class="crumb navigate"><%- crumbs[x].crumbDisplay %></a></li>
		<% } %>
	</script>