/* source for text-align: http://css-tricks.com/almanac/properties/t/text-align/ */

div#colorbox_spinner {	
	text-align: center;
	font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
	font-size: 1.2em;
}

div.imagePreload {
	display : none;
}