/*
	CSS:			dash.css
	DESCRIPTION:	All of the styles that belong to the dash section.
*/

/* page content */

div#page-logout div.widget-panel {
	
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #bbb;
	padding: 20px;
	
	width: 100%;
	max-width: 740px;
}

div#page-logout div.widget-panel > h1 {
	font-size: 16px;
	font-weight: bold;
	margin:0;
	padding:0;
}

div#page-logout div.widget-panel > p {	
	padding:0;
	margin:0;
	margin-top:10px;		
	
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	font-style: italic;
}