	<!-- file: help -->

	<!-- PAGE-CONTENT -->

	<script type='text/template' id='tpl-page-help'>

		<div class='sb-tabs'>

			<ul class='hidden-xs'>
				<a href="<%= ROOT %>#help/" class="navigate"><li name="general">general</li></a>
				<a href="<%= ROOT %>#help/classes/" class="navigate"><li name="classes">classes</li></a>
				<a href="<%= ROOT %>#help/studying/" class="navigate"><li name="studying">studying</li></a>
				<a href="<%= ROOT %>#help/groups/" class="navigate"><li name="groups">groups</li></a>
				<a href="<%= ROOT %>#help/flashcards/" class="navigate"><li name="flashcards">flashcards</li></a>
				<a href="<%= ROOT %>#help/tests/" class="navigate"><li name="tests">tests</li></a>
				<a href="<%= ROOT %>#help/contact/" class="navigate"><li name="contact">contact us</li></a>
			</ul>

			<div class='visible-xs btn-group clearfix'>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Section <span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
						<li name="general"><a href="<%= ROOT %>#help/" class="navigate">general</a></li>
						<li name="classes"><a href="<%= ROOT %>#help/classes/" class="navigate">classes</a></li>
						<li name="studying"><a href="<%= ROOT %>#help/studying/" class="navigate">studying</a></li>
						<li name="groups"><a href="<%= ROOT %>#help/groups/" class="navigate">groups</a></li>
						<li name="flashcards"><a href="<%= ROOT %>#help/flashcards/" class="navigate">flashcards</a></li>
						<li name="tests"><a href="<%= ROOT %>#help/tests/" class="navigate">tests</a></li>
						<li name="contact"><a href="<%= ROOT %>#help/contact/" class="navigate">contact us</a></li>
					</ul>
				</button>
			</div>

		</div>

		<div class="content">
			
			<div class='content-panel'>
			</div>

			<div class='content-form'>
			</div>

		</div>

	</script>