/*
	CSS:			page.studying.browse.groups.css
	DESCRIPTION:	The styles for this page.
*/

/* record-editable */

div#page-studying-browse-groups div.widget-record-editable {
	max-width: 740px;
}

/* record-editable-edit */

div#page-studying-browse-groups div.widget-record-editable-edit > form {
	border: 0;
	padding-top: 0;
}